@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:ital@1&display=swap');


/*  
    Class eu começo identificando com ponto
    id eu começo com #
*/

/* 
    font-family: 'Nunito', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

.site{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%
}

body{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    background: url("../img/organic-tiles.png");
}

.topoSocial{
    background: #401230;
}

.topoMenu{
    background: #e7b3a4;
}

.topoRedeSocial{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topoRedeSocial ul{
    display: flex;
}

.topoRedeSocial ul li{
    margin:0 5px;
    padding: 10px 0;

}

.topoRedeSocial ul li a{
    padding: 10px;
    margin: 5px;
    background: white;
}

.topoRedeSocial h2{
    color: #f2f2f2;
    font-size: 1.2em;
}

.menuLogo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menuLogo h1 a{
    width: 300px;
    height: 90px;
    background: chartreuse;
    display: block;
    text-indent: -9999px;
}

.menuLogo nav ul{
    display:flex;    
}

.menuLogo nav ul li{
    margin: 2px;
    background: #401230;
    padding: 10px 10px;
    border-radius: 5px;
}

.menuLogo nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 10px;
}

.menuLogo nav ul li:hover{
    background: #cccccc

}

.menuLogo nav ul li a:hover{
    color: #e7b3a4;
}


/*banner*/

.banner img{
    width: 100%;

}

/*sobre*/
.sobre{
padding: 50px 0;
}

.sobre h2{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    color: #401230;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 45px;
}

.sobre div{
    display: flex;
    justify-content: space-between;
}

.sobre div article{
    width: 48.5%;
}

.sobre div article p{
    text-align: justify;
    font-size: 1.2em;
   line-height: 20px;
   color: #401230;
   border:solid thick #333333;
   border-radius: 10px 0 25px 0;
   padding: 10px 30px 158px 30px;
}

.sobre div article img{
    width: 100%;
    border:solid thick #333333;
    border-radius: 0 10px 0 25px;   
}

/*Galeria*/

.galeria{
    background: #401230;
    display: flex;
    overflow: hidden;
}

.galeria img{
    margin: 50px 40px;
    width: 240px; /*Wquando tiver a imagem sai*/
    height: 240px;
}

/*Serviço*/

.serviço{
    background: #8c375f ;
    padding: 50px;
}
.dif{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.serviço h2{
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid thick #f2f2f2;
}

.serviço article{
    height: ;
    width: 20%;
    border: solid thick #f2f2f2;
    padding: 10px 30px 158px 30px;
    background: #f2f2f2;
}

.serviço img{
    margin: 41px 24px;
    width: 300px;
    height: 300px;
}

.dif p{
    font-family: 'Ubuntu', sans-serif;
    color: #401230;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;



    








